<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
                 http://www.springframework.org/schema/security 
                 http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<!-- For controller methods,we can user @Secured annotations -->
	<global-method-security secured-annotations="enabled" />

	<http use-expressions="true" auto-config="true">

		<intercept-url pattern="/index" access="permitAll" />
		<intercept-url pattern="/hoster" access="hasRole('USER')" />
		<intercept-url pattern="/hostel" access="hasRole('USER')" />
		<intercept-url pattern="/edit-profile" access="hasRole('USER')" />
		<intercept-url pattern="/feedbacks" access="hasRole('USER')" />
		<intercept-url pattern="/hosting-creation" access="hasRole('USER')" />
		<intercept-url pattern="/edit-languages" access="hasRole('USER')" />
		<intercept-url pattern="/search" access="hasRole('USER')" />
		<intercept-url pattern="/profile" access="hasRole('USER')" />
		<form-login login-page="/login" authentication-failure-url="/login?error=true" />
		<logout logout-url="/logout" logout-success-url="/login?logout=true" />
		<!-- <form-login login-page="/login" default-target-url="/hostel" -->
		<!-- authentication-failure-url="/index" /> -->
		<!-- <logout logout-url="/logout" logout-success-url="/hostel" /> -->

		<anonymous username="guest" granted-authority="ANONYMOUS" />
		<remember-me />
	</http>


	<authentication-manager>
		<authentication-provider>
			<password-encoder hash="bcrypt"></password-encoder>
			<jdbc-user-service data-source-ref="dataSource"
				authorities-by-username-query="select 
				user.login,role.role from user join role on user.role_id=role.role_id where user.login=?"
				users-by-username-query="select 
				login, password,1 from user where login = ?" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>