<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<!-- An old version of hibernate.cfg, just now we have package scan in 
			our data.xml, so we dont need any hibernate.cfg anymore -->



		<!-- <mapping class="com.softserve.edu.entity.UserRole" /> <mapping class="com.softserve.edu.entity.Role" 
			/> <mapping class="com.softserve.edu.entity.User" /> <mapping class="com.softserve.edu.entity.Hosting" 
			/> <mapping class="com.softserve.edu.entity.Image" /> <mapping class="com.softserve.edu.entity.Status" 
			/> <mapping class="com.softserve.edu.entity.Language" /> <mapping class="com.softserve.edu.entity.Request" 
			/> <mapping class="com.softserve.edu.entity.Gender" /> -->

	</session-factory>
</hibernate-configuration>